html {
  background-color: white;
}

h1 {
  font-family: var(--font-header);
}

.nav {
  height: 100%;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: 10vh 15vh 1fr;
  grid-template-columns: 10vw 1fr 40vw;
}

#back_arrow {
  margin: 10px;
  grid-area: 1 / 1 / span 1 / span 1;
  justify-self: start;
  transform: rotate(180deg) translateX(-15px);
}

#year {
  font-size: 6em;
  font-family: var(--font-header);
  grid-area: 2 / 1 / span 1 / span 1;
  transform: translateX(-95px) translateY(-5vh);
}

#season {
  font-size: 7em;
  margin-left: 1em;
  grid-area: 1 / 2 / span 2 / span 1;
}

#year_list {
  grid-area: 1 / 3 / span 1 / span 1;
  width: 100%;
  height: 100%;
  justify-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#year_list a {
  font-size: 1.6em;
  font-family: var(--font-header);
  transform: rotate(90deg);
}
#year_list a:hover {
  color: var(--blue);
}

#month_list {
  grid-area: 3 / 1 / span 1 / span 1;
  width: 90px;
  height: 100%;
}

#month_list div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#month_list p {
  font-size: 1.6em;
  font-family: var(--font-header);
  text-align: center;
}

.active {
  color: var(--blue);
}
