* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  color: black;
  scroll-behavior: smooth;
}

:root {
  --dark-blue: #001b36;
  --blue: #4682b3;
  --yellow: #f7d461;
  --orange: #f3a500;
  --red-orange: #ee7011;
  --font-header: quasimoda-2, sans-serif;
}

a {
  text-decoration: none;
  z-index: 1;
}

html {
  background: var(--orange);
}

.blue {
  background-color: var(--blue);
}
.yellow {
  background-color: var(--yellow);
}
.dark-blue {
  background-color: var(--dark-blue);
}

.white-text {
  color: white;
}

.label {
  align-self: center;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 1.8em;
  margin-left: 5vw;
}

.outline_text {
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.outline_link {
  text-decoration: underline;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s;
}
.outline_link:hover {
  text-shadow: none;
}

/* NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION  */
/* NAVIGATION BAR AT TOP OF PAGE */
.nav {
  width: 94vw;
  position: fixed;
  padding: 3vh 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
}

/* LOGO IMAGE CLICKED TO GO HOME */
#logo {
  height: 3em;
  transition-duration: 0.4s;
}
#logo::focus {
  outline: 0;
}
#logo:hover {
  height: 3.5em;
}

/* HAMBURGER MENU BUTTON TO SLIDE IN/OUT DROPDOWN MENU */
#dropdown_btn {
  height: 30px;
  width: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dropdown_btn:focus {
  outline: 0;
}

/* CLASS FOR SPANS FOR HAMBURGER BUTTON VISUAL */
.hamburger {
  background-color: white;
  width: 40px;
  height: 4px;
  transition: 0.4s;
}

.hamburger:nth-child(3) {
  width: 25px;
}
#dropdown_btn:hover > .hamburger:nth-child(3) {
  width: 40px;
}

/* TOGGLED ON HAMBURGER SPANS WHEN MENU OPENED */
.close:nth-child(1) {
  background-color: white;
  width: 30px;
  transform: translateY(7px) rotate(45deg);
  -moz-transition: translateY(7px) rotate(45deg);
  -webkit-transition: translateY(7px) rotate(45deg);
  -o-transition: translateY(7px) rotate(45deg);
}
.close:nth-child(2) {
  background-color: transparent;
}
.close:nth-child(3) {
  background-color: white;
  width: 30px;
  transform: rotate(-45deg);
  -moz-transition: rotate(-45deg);
  -webkit-transition: rotate(-45deg);
  -o-transition: rotate(-45deg);
}

#dropdown_btn:hover > .close:nth-child(1),
#dropdown_btn:hover > .close:nth-child(3) {
  background-color: var(--orange);
}

#dropdown_btn:hover > .close:nth-child(3) {
  width: 30px;
}

/* CLASS FOR DROPDOWN MENU WITH LINKS TO OTHER PAGES */
#dropdown {
  position: fixed;
  height: 95vh;
  width: 44vw;
  padding: 3vh 3vw 2vh 3vw;
  background-color: var(--dark-blue);
  left: 100vw; /* 100 -> 50 as it slides in on click */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.4s;

  z-index: 2;
}

/* MENU LINKS */
#dropdown > a {
  color: white;
  font-size: 3em;
  margin-top: 0.5em;
  transition: 0.3s;
}

#dropdown > a:hover {
  color: var(--orange);
}

/* AN ANIMATED OUTLINED BUTTON */
.link_button {
  align-self: flex-end;
  vertical-align: 100%;
  height: 2em;
  width: 120px;
  padding-right: 40px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}

.link_btn_cont {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;

  transition-duration: 0.5s;
}

.link_button img {
  height: 1em;
  align-self: center;
  transform: translateY(2px) translateX(14px);
}

.link_button p {
  display: none;
  font-size: 1.1em;
  color: white;
  transition-duration: 0.6s;
}

.link_btn_cont:hover {
  width: 100%;
  border-radius: 30px;
  padding: 0 25px;
  justify-content: space-around;
}
.link_btn_cont:hover > p {
  display: block;
}

/* BOUNCING ARROW */
#arrow {
  position: relative;
  width: 30px;
  height: 30px;
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-iteration-count: infinite;
  mix-blend-mode: hard-light;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 0px;
  }
}

.arrow {
  display: block;
  background-color: white;
  width: 32px;
  height: 4px;
}
.arrow:nth-child(1) {
  transform: rotate(45deg) translateX(-11px);
}
.arrow:nth-child(2) {
  transform: rotate(-45deg) translateX(17px);
}
